@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
  font-family: "Montserrat", sans-serif;
}

.item-image {
  height: 20rem;
}

.image-div {
  position: relative;
}

.new-tag {
  position: absolute;
  top: 12px;
  left: 0px;
  background-color: rgba(255, 63, 108, 0.8);
  font-size: 0.8rem;
}

.main-div {
  /* border: 1px solid black; */
  /* max-width: 200px; */
  margin-left: 7rem;
  margin-right: 7.8rem;
}
